/*div, header, ul, li{
    border: 1px solid;
}

.row{
    border: 1px solid blue;
}

.col{
    border: 1px solid red;
}*/

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

a{
    color: inherit !important;
    text-decoration: none !important;
}

.break{
    display: block;
}

/*.main-content{
    height: 100vh;
}*/

#content{
    max-width: 1366px;
}

.sygris-navbar{
    background-color: #DA1B00; 
}

.sygris-navbar img{
    width: 100px;
    border-right: 2px solid #fff;
}

.sidebar-left{
    color: #ffffff;
    background-image: url(../img/fondo-sidebar-left.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    background-color: #FF3A1F;
}

.main-title{
    margin-top: 80px;
    margin-bottom: 60px;
}

.product-name{
    font-size: 2em;
    line-height: 1.2em;
}

.sidebar-left-options{
    font-size: 1.2em;
}



.sidebar-col:hover{
    font-size: 1.4em;
    background-color: #FE533B;
}

.top-tab{
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F6F5FA;
    border-radius: 5px;
}

.top-tab:hover{
    background-color: #FF3A1F;
}

/*.top-tab:active{
    border-bottom: 5px solid blue;
}

.top-tab:visited{
    border-bottom: 5px solid blue;
}

.top-tab.active{
    border-bottom: 5px solid blue;
}*/

.top-tab a{
    font-size: 1em;
    line-height: 1em;
    font-weight: 600;
    text-align: left;
    padding-left: 25px;
    position: relative;
}

.top-tab:hover a{
    color: white !important;
}

.top-tab a::before{
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 10px;
}

.top-tab.informe a::before{
    content: url(../img/file.svg);
}

.top-tab.carbono a::before{
    content: url(../img/leaf.svg);
}

.top-tab.plan a::before{
    content: url(../img/user-light.svg);
}

.top-tab.material a::before{
    content: url(../img/book-alt.svg);
    top: 5px !important;
}

.top-tab.informe:hover a::before{
    content: url(../img/file-negative.svg);
}

.top-tab.carbono:hover a::before{
    content: url(../img/leaf-negative.svg);
}

.top-tab.plan:hover a::before{
    content: url(../img/user-light-negative.svg);
}

.top-tab.material:hover a::before{
    content: url(../img/book-alt-negative.svg);
}

.cards-section{
    padding: 10px;
    background-color: #F6F5FA;
}

.cards-section .col{
    padding: 0;
}

.cards-group{
    margin: 10px 10px 10px 0!important;
}

.card{
    padding: 20px;
    margin: 10px;
}

.card-body{
    padding: 0;
}

.cards-header{
    display: flex;
    flex-direction: row;
}

.card-icon{
    fill: white;
    margin-right: 10px;
    background-color: #FF3A1F;
    padding: 7.5px;
    border-radius: 2.5px;
}

.card-title{
    font-size: 1em !important;
    font-weight: 600;
    margin-bottom: 0 !important;
    margin-block-end: 0 !important;
}

/* ---- discarded solution ---*/

/*.card-title::before{
    content: url(../img/file-alt.svg);
    display: inline-block;
    width: 30px;
    padding: 5px 7.5px;
    margin-right: 1em;
    background-color: red;
    border-radius: 5px;
}*/

.card-text{
    font-size: .75em;
}

/*------- Responsive ------- */

/*------ Only mobile -------*/

@media only screen and (max-width: 575px){
    
    #top-tabs-navbar{
        margin-right: 1rem;
    }
    
    .top-tab{
        margin-top: 20px !important;
        justify-content: center;
    }
    
}

/*----- All but mobile -----*/

@media only screen and (min-width: 576px){
    
    .sygris-navbar{
        height: 40px;
    }
    
    
    #top-tabs-navbar{
        padding-left: 10px !important;
    }
    
    .col-md-2.top-tab{
        max-width: 150px;
    }
    
}

/*------ Mobile + tablet portrait ------ */

@media only screen and (max-width: 767px){
    
}

@media only screen and (max-width: 991px){
    .top-tab{
        margin-bottom: 20px !important;
    }
}

/*----- Mobile + small tablet landscape ----- */

@media only screen and (max-width: 1199px){
    
}

/*-------- Small tablet landscape ------- */

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .card{
        min-height: 205px;
    }
}

/*--------- All (and only) tablets ------ */

@media only screen and (min-width: 768px) and (max-width: 1199px){
    
}

/*--------- Tablet + desktop --------*/

@media only screen and (min-width: 768px){
    
    .main-content,
    .cards-section{
        height: 100vh;
    }
}


/*-- Only desktop (and big tablets landscape) --*/

@media only screen and (min-width: 1200px){
    
}